<div class="mb-2">
	@if (!ShowInputControls)
	{
		<Button class="btn btn-primary" Clicked="@ShowForm" >Add Crop</Button>
	}
	else
	{
		<Form Model="@Crop" @onsubmit="@HandleValidSubmit">		
			<Div Class="HorizontalForm ">
				<Div Class="HorizontalForm-item " >				
					<Field >					
						<TextEdit Placeholder="Enter Plot Name" @bind-Text="@Crop.Location" />
					</Field>
				</Div>
				
				<Div Class="HorizontalForm-item" id="CenteredItems">
					<InputFile OnChange="@HandleSelected" />
				</Div>
				<Div Class="HorizontalForm-item">
					<Button Class="btn btn-primary" Type="ButtonType.Submit" >Add</Button>
					<Button Class="btn btn-secondary"  Clicked="@ShowForm" >Cancel</Button>
				</Div>
			</Div>
		</Form>
	}
</div>