
 <div class="col col-md-2">
<Card   >   
    <CardBody>
        <CardTitle Size="5">@Crop.LocationYear</CardTitle>
	   <CardImage Source="@ImgSource" Alt="image ofplot "></CardImage>      
         <Button class="mt-1" Color="Color.Primary" @onclick="@NavigateToSown">Plants</Button>
         <Button class="mt-1"  Color="Color.Danger" @onclick="@RemoveCrop"><Icon Name="@("fas fa-times")" /></Button>
    </CardBody>
</Card>

</div>
