<Form  >
	<p>
		<Addons>
			<Addon AddonType="AddonType.Start">
				<AddonLabel>PlantName</AddonLabel>
            </Addon>
			<Addon AddonType="AddonType.Body">
				<Select TValue="int" SelectedValue="@Sown.Plant.Id" SelectedValueChanged="@PlantValueChanged">
				@foreach(var plant in Plants)
					{
						<SelectItem Value=@plant.Id>@plant.Name</SelectItem>
					}
            </Select>
			</Addon>
        </Addons>
		</p>
		<p>
		<Addons>
			<Addon AddonType="AddonType.Start">
				<AddonLabel>Planted on:</AddonLabel>
            </Addon>
			<Addon AddonType="AddonType.Body">
				<DateEdit TValue="DateTime" @bind-Date="@Sown.PlantedOn" />
            </Addon>
        </Addons>
		</p>	
	<div class="d-flex flex-row-reverse justify-content-between">    
		<Button  Color="Color.Warning"  Clicked="@SaveChanges">Confirm</Button>
		<Button Color="Color.Secondary" Clicked="@Cancel">Cancel</Button>
    </div>
</Form>
