@page "/crops"
<h3>Crops</h3>


     <AddCrop  onAdd="@LoadCrops"  />
    <DxStackLayout CssClass="w-100 ch-480">
    <Items>
        <DxStackLayoutItem >
            <Template>   
                <DxListBox Data="@CropDtos"
                                    @bind-Values="@Values"
                                    SelectionMode="ListBoxSelectionMode.Single"
                                    ListRenderMode="ListRenderMode.Virtual" 
                                    SelectedItemsChanged="@((IEnumerable<CropDto> values ) => SelectedItemChanged(values) )"
                                    style="min-height:200px;">
                    <DxListEditorColumn FieldName="LocationYear" Caption="Crop year" />
                 </DxListBox>  
            </Template>
        </DxStackLayoutItem>
         <DxStackLayoutItem Length="2fr">
             <Template>
                        <div> 
                            <img src="@Img"/>
                            <DxButton  Text=Details />
                           
                         </div>
             </Template>
        </DxStackLayoutItem>
    </Items>
    </DxStackLayout>

