@page "/Crops"
@inject ICropRepository CropRepository
<h3>Crops</h3>
    <AddCrop onAdd="@LoadData" />
	<DxDataGrid @ref="grid"
		Data="@CropItems"
		@bind-SingleSelectedDataRow="@SelectedRow"		
                RowUpdatingAsync="@OnRowUpdatingAsync"
                RowRemovingAsync="@OnRowRemovingAsync" >
          <HeaderTemplate>
            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                <DxToolbarItem Text="Edit" Click="@OnEditClick" IconCssClass="grid-toolbar-edit" Enabled="@Enabled" />
                <DxToolbarItem Text="Delete" Click="@OnDeleteClick" IconCssClass="grid-toolbar-delete" Enabled="@Enabled" />
              </DxToolbar>
        </HeaderTemplate>
        <Columns>
            <DxDataGridColumn Field ="@nameof(CropDto.Location)"/>
             <DxDataGridColumn Field ="@nameof(CropDto.Year)" EditorVisible="false"/>
		</Columns>
   
	</DxDataGrid>


