@page "/crops"
<h3>Crops</h3>
    <DxStackLayout CssClass="w-100 ch-480">    
    <Items>
        <DxStackLayoutItem >
            <Template>
                <DxButton Text="Add Crop" Click="@HandleNewCrop"/>
                
                <DxListBox Data="@CropDtos"
                                    @bind-Values="@Values"                                     
                                    SelectionMode="ListBoxSelectionMode.Single"
                                    ListRenderMode="ListRenderMode.Virtual" 
                                    SelectedItemsChanged="@((IEnumerable<CropDto> values ) => SelectedItemChanged(values) )"
                                    style="min-height:200px;">
                    <DxListEditorColumn FieldName="LocationYear" Caption="Crop year" />
                 </DxListBox>
                 <p class="demo-text cw-400 mt-2 text-muted">
                     Selected item: <b>@Values.FirstOrDefault()?.LocationYear</b>
                     </p>           
            </Template>
        </DxStackLayoutItem>
         <DxStackLayoutItem Length="2fr">
            <Template>
                @if(ShowRightPanel)
                {
                @if (IsAddVisible)
                {
                  
                    <AddCrop  onAdd="@ToggleAddVisible" />
                }else
                  {  <div>
                         <img src="@Img"  /> 
                         <DxButton Text=Details />
                         </div>
                }
                }
            </Template>
        </DxStackLayoutItem>
    </Items>
    </DxStackLayout>



