@page "/Crops"

<h3>Crops</h3>
<AddCrop onAdd="@LoadData" />
<div class="row">
    @foreach (var crop in CropItems)
    {
        <div class="col col-md-2">
            <Card>
                <CardBody>
                    <CardTitle Size="5">@crop.LocationYear</CardTitle>
                    <CardImage Source="@($"https://homeharveststorage.blob.core.windows.net/upload-container/{crop.PlotImage}")" Alt="image ofplot "></CardImage>
                    <Button class="mt-1" Color="Color.Primary" Clicked="@(() => NavigateToSown(crop.Id))">Plants</Button>
                    <Button class="mt-1" Color="Color.Danger" @onclick="@(() => RemoveCrop(crop.Id))"><Icon Name="@("fas fa-times")" /></Button>
                </CardBody>
            </Card>
        </div>
    }
</div>
